/**
* Author: snxx
* For license and copyright information please follow this like:
* GitHub: https://github.com/scdesktop/scdesktop/blob/master/LICENSE
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a:link {
	color: #FA7637;
	text-decoration: none;
}

a:visited {
	color: #FA7637;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #FA7637;
}

h1, h2, h3, h4, h5, h6 {

}

.avatar {
	/*background-color: #AFACAA;*/
	border: 4px solid #000;
	border-radius: 80px;
	width: 75px;
	height: 75px;
}
