html, body {
	background-color: #1e1d1d;
}

.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}

.search {
	background-color: #2d2c2c;
}

.search input {
	justify-content: center;
}

.avatar {
	justify-content: flex-end;
}
