/**
* Author: snxx
* For license and copyright information please follow this like:
* GitHub: https://github.com/scdesktop/scdesktop/blob/master/LICENSE
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	background-color: #1e1d1d;
	width: 100%;
	color: #fff;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2c2c2c;
	width: 100%;
	height: 87px;
}

nav > input {
	background-color: #6b6a69;
	width: 683px;
	height: 53px;
	border-radius: 12px;
}

nav > img.avatar {
	width: 58px;
	height: 58px;
	border: 4px solid #000;
	border-radius: 50% !important;
	background-color: #afacaa;
}

nav > button > img {
	width: 30px;
	height: 32px;
}

main {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
}

main > div.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*main > div.container > .one {
	background-color: #fa7637;
	border: 1px solid #999;
	border-radius: 16px;
	z-index: 1;
}

main > div.container > .two {
	background-color: #e26139;
	border: 1px solid #999;
	border-radius: 16px;
	z-index: -1;
}

main > div.container > .three {
	background-color: #ef5126;
	border: 1px solid #999;
	border-radius: 16px;
	z-index: -2;
}*/

aside {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #353434;
	width: 92px;
	height: 100%;
}

aside.sidebar > img {
	width: 92px;
	height: 87px;
}

aside > ul.menu > li {
	background-color: #070707;
	width: 92px;
	height: 92px;
}

footer {
	display: flex;
	position: absolute;
	bottom: 0;
	background-color: #070707;
	width: 100%;
	height: 131px;
	z-index: auto;
}

footer > div.player > img {
	width: 95px;
	height: 95px;
	border-radius: 21px;
	background-color: #afacaa;
	text-align: center;
	/* border: 4px solid #fff; */
}

div.player {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.container {
	display: flex;
	justify-content: center;
}
