/**
* Author: snxx
* For license and copyright information please follow this like:
* GitHub: https://github.com/scdesktop/scdesktop/blob/master/LICENSE
*/

a:link {
	color: #FA7637;
	text-decoration: none;
}

a:visited {
	color: #FA7637;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #FA7637;
}
